body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}
/* HEADER */
.wrap_header{
    position: relative;
    height: 50px;
    background-color: black;
}
.wrap_header img{
    position: absolute;
    width: 90px;
    height: 20px;
    top: 15px;
    right: 15px;
}

/* SEARCH ICON */
.search_icon{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    margin-right: 25px;
}

/* TEXT MY PLAYSTATION */
.text_myplay{
    color: black;
}
/* BTN HEADER */
.btn_header{
    border-radius: 15px;
}

/* MAIN */
/* JUMBOTRON */
.wrap_jumbo {
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.wrap_billboard{
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.text_jumbo{
    padding: 100px 40px;
    margin-bottom: 25px;
    line-height: 30px;
    color: white;
}
.btn_jumbo{
    border-radius: 15px;
}
/* SECTION GAME CARD */
/* SINGLE IMAGE */
.image_section{
    width: 250px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 25px;
}
/* ADVERTISING */
.advertising{
    text-align: center;
    margin-top: 100px;
}
.advertising h5{
    color: #1f83d4;
}

.advertising p{
    margin-top: 40px;
    font-size: 20px;
}
/* SECTION PLAYSTATION */

.wrap_play{
    margin-top: 200px;
}
.wrap_play h2{
    margin-left: 20px;
    
}
.wrap_play p{
    margin-left: 20px;
}
.wrap_play img{
    width: 800px;
}

.text_play{
    margin-top: 400px;
    text-align: center;
}
.btn_play{
    border-radius: 15px;
    margin-left: 20px;
}

/* OTHERS PRODUCTS */
.others_prod{
    margin-left: 50px;
    width: 150px;
}
.font_icon{
    font-size: 10px;   
}
.text_others_prod{
    text-align: center;
    margin-right: 40px;
    margin-bottom: 80px;
}
/* SHOP PRODUCT */
.wrap_shop{
    margin-top: 20px;
    margin-left: 50px;
}
.shop{
    background-color:black ;
    color: white;
}
.shop p{
    margin-left: 15px;
    text-align: center;
}
.shop i{
    font-size: 10px;
}
.product_img{
    width: 230px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}
/* SECTION PS4 */
.wrap_ps4{
    margin-top: 50px;
    margin-bottom: 50px;
}
.wrap_ps4 h2{
    text-align: center;
}
.wrap_ps4 p{
    text-align: center;
}

.wrap_item_ps4{
    margin-left: 100px;
}