body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}
/* HEADER */
.wrap_header{
    position: relative;
    height: 50px;
    background-color: black;
}
.wrap_header img{
    position: absolute;
    width: 90px;
    height: 20px;
    top: 15px;
    right: 15px;
}

/* SEARCH ICON */
.search_icon{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    margin-right: 25px;
}

/* TEXT MY PLAYSTATION */
.text_myplay{
    color: black;
}
/* BTN HEADER */
.btn_header{
    border-radius: 15px;
}

/* MAIN */
/* JUMBOTRON */
.wrap_jumbo {
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.text_jumbo{
    padding: 100px 40px;
    margin-bottom: 25px;
    line-height: 30px;
    color: white;
}

.btn_jumbo{
    border-radius: 15px;
}
